@page "/cascadingdemo3"
<button class="btn btn-primary" @onclick="IncrementCounter">
    Increment Counter value from Parent Component
</button>
<h1>Improve performance of cascading keeping IsFixed="false" if You think values will naver change</h1>
<h3>Counter value in Parent Component - @Counter</h3>

<CascadingValue Value="@Counter" Name="Counter" IsFixed="false">
    <ChildComponent></ChildComponent>
</CascadingValue>

@code {
    public int Counter { get; set; } = 0;

    private void IncrementCounter()
    {
        Counter = Counter + 1;
    }
}